{% extends "layout.twig" %}

{% block transition %}fade{% endblock %}

{% block content %}


<section>
  <h1>Badass Title !</h1>
</section>

<section class="card">
  <h3>Card section</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et ille ridens: Video, inquit, quid agas; In qua quid est boni praeter summam voluptatem, <b>et eam sempiternam? Illud dico, ea</b>, quae dicat, praeclare inter se cohaerere. O magnam vim ingenii causamque iustam, cur nova existeret disciplina! Perge porro. Tenent mordicus. Duo Reges: constructio interrete. Si quae forte-possumus. Quae quo sunt <i>excelsiores, eo dant clariora indicia naturae. Sed ad haec, nisi molestum est, habeo quae velim. Et quidem, inquit</i>, vehementer errat; Conferam tecum, quam cuique verso rem subicias; Dici enim nihil potest verius.
  </p>
</section>

<section id="section">
  <h3>Some code focus</h3>
  <pre id="code"><code data-language="js">
emojify.setConfig({
    img_dir          : 'img/emoji',  // Directory for emoji images
    ignored_tags     : {                // Ignore the following tags
        'SCRIPT'  : 1,
        'TEXTAREA': 1,
        'PRE'     : 1,
        'CODE'    : 1
    }
});
emojify.run();
  </code></pre>
  <span class="fragment" data-focus="3,4,5,6" data-target="#code"></span>
  <span class="fragment" data-focus="10" data-target="#code"></span>
</section>

<section>
  <h3>A fancy arrow schema</h3>
  <br />
  <ul>
    <li class="fragment arrow">Émetteur</li>
    <li class="fragment arrow mine">Message</li>
    <li class="fragment arrow">Recepteur</li>
  </ul>
</section>

<section fullscreen-img="http://media.giphy.com/media/fbXyEHrV6n2Kc/giphy.gif">
  <h1 style>Fullscreen image !!</h1>
</section>

<section class="card">
  <h3>Avatars ! :smile:</h3>
  <div class="text-center">
    <div class="avatar-wrapper bubble">
      <div class="avatar"><img src="img/avatars/toni.png"><p>Thank </p></div>
      <div class="avatar"><img src="img/avatars/yann.png"><p>you !</p></div>
    </div>
  </div>
</section>

{% endblock %}