.reveal code {
  border: 1px solid #7d7d7d;
  border-radius: 5px;
  padding: 5px 10px;
}

.reveal pre {
  background: #272822;
  word-wrap: break-word;
  margin: 20px 0px;
  padding: 25px;
  color: #fff;
  font-size: 18px;
  overflow-x: auto;
  position: relative;
  line-height: 1.4em;
  white-space:pre;
  box-shadow: none;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Monaco', monospace;
}

.rainbow-header {display: none;}


.rainbow-line {
  display: block;
  width: auto;
  word-wrap: break-word;
  white-space:pre;
  padding: 0.1em 0;
  span {white-space:pre;}
  &:hover {
    background-color: #3b3d34;
    .rainbow-line-number {
        background-color: #3b3d34;
    }
  }
  .rainbow-line-number {
    text-align: right;
    display: block;
    width: 30px;
    float: left;
    vertical-align: top;
    &::before {
      content: attr(data-number);
      color: #9f9f9f;
    }
  }
  .rainbow-line-code {
    padding-left: 1em;
    display: block;
    width: 100%;
    height: 1.4em;
    margin-left: 20px;
  }
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #75715E;
}

pre .constant {
    color: #AE81FF;
}

pre .storage {
    color: #66D9EF;
}

pre .string, pre .comment.docstring {
    color: #E6DB74;
}

pre .support.tag {
    color: #fff;
}

pre .keyword {
    /* @todo some keywords use this light blue, most use the pink */
    /*color: #66D9EF;*/
    color: #F92672;
}

pre .selector {
    color: #F92672;
}

pre .inherited-class {
    font-style: italic;
}

pre .operator, pre .support.tag-name , pre .entity.tag {
    color: #F92672;
}

pre .entity, pre .support.attribute, pre .entity.attribute {
    color: #A6E22E;
}

pre .support, *[data-language="c"] .function.call {
    color: #66D9EF;
}

*[data-language="html"] .support.operator {
    color: #fff;
}

pre .css-property, pre .storage.function {
    font-style: italic;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #A6E22E;
}