.reveal, .reveal p {
  line-height: $line-height-base !important;
}

h1, h2 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $headings-font-weight !important;
  margin: 0.2em 0 0.4em 0 !important;
}

ul li {
  line-height: 1.6em !important;
}

.reveal ul.list-unstyled {
  list-style-type: none;
  padding: 10px 0 !important;
  margin: 0;
}