.reveal, .reveal p, .reveal li {
  line-height: $line-height-base !important;
}

h1, h2 {
  text-transform: uppercase;
}

.reveal h1 {font-size: $font-size-h1 !important;}
.reveal h2 {font-size: $font-size-h2 !important;}
.reveal h3 {font-size: $font-size-h3 !important;}
.reveal h3 {font-size: $font-size-h3 !important;}
.reveal h4 {font-size: $font-size-h4 !important;}

h1, h2, h3, h4, h5, h6 {
  font-weight: $headings-font-weight !important;
  margin: 0.2em 0 !important;
}

ul li {
  line-height: 1.6em !important;
}

.reveal ul.list-unstyled {
  list-style-type: none;
  padding: 10px 0 !important;
  margin: 0;
}